body {
  font-family: Helvetica, Arial, sans-serif;
}

table {
  border: 1px solid black;
}

td {
  width: 45px;
  height: 45px;
}

button {
  display: inline-block;
  width: 100px;
  height: 30px;
  border: 1px solid #000000;
  color: #000000;
  background-color: #FFFFFF;
  font-size: 12px;
}

button:hover {
  color: #FFFFFF;
  background-color: #000000;
}