body {
  font-family: Helvetica, Arial, sans-serif;
}

textarea {
  border: 1px solid black;
  width: 350px;
  height: 150px;
  outline: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

div {
  padding-bottom: 10px;
}

input {
  display: inline-block;
  width: 100px;
  height: 30px;
  border: 1px solid #000000;
  color: #000000;
  background-color: #FFFFFF;
  font-size: 12px;
}

input:hover {
  color: #FFFFFF;
  background-color: #000000;
}